@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a href="@Url.Action("Admin", "Toys")">Manage Toys</a>
<a href="@Url.Action("Admin", "Categories")">Manage Categories</a>



