@model ToyStore.ViewModel.ToyViewModel

@{Layout = "/Views/Shared/_Layout.cshtml";}

@{ViewBag.Title = "Search";}

<head>
    <link rel="stylesheet" href="~/Styles/gallery.css">
</head>


<div class="container" id="products-container">
    <!-- Products will be dynamically added here -->
</div>

<div id="toyData" data-toydata='@Html.Raw(Json.Encode(Model.ToyList))' style="display:none;"></div>
<div id="categoryData" data-categorydata='@Html.Raw(Json.Encode(Model.CategoryList))' style="display:none;"></div>
<div id="ageGroupData" data-agegroupdata='@Html.Raw(Json.Encode(Model.AgeGroupList))' style="display:none;"></div>

<script src="~/Scripts/Gallery/GalleryScripts.js"></script>


