@model ToyStore.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Custumer</title>
</head>
<body>
    <div>
        The data added successfully!!
        <h3>First Name: @Model.FirstName </h3>
        <h3>Last Name: @Model.LastName </h3>
        <h3>Customer Number: @Model.CustomerId </h3>
    </div>
</body>
</html>
