.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%; /* Set width to 100% */
    max-width: none; /* Ensure no maximum width constraints */
    margin: 0; /* Remove any margins */
}

.product {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align items to the top and bottom of the container */
}

    .product img {
        /* Your CSS styles for the toy image */
        width: 200px; /* Example width */
        height: 200px; /* Maintain aspect ratio */
        border: 1px solid #ccc; /* Example border */
        /* Add more styles as needed */
        align-self: center;
        margin-bottom : 10px;
    }

    .product h2 {
        margin-top: 0;
    }


.buttons {
    margin-top: 20px; /* Push buttons to the bottom */
    align-self:center; /* Align buttons to the end of the container */
/*    display: flex;
    flex-direction: column;
    justify-content: space-between;*/

}

.product-front,
.product-back {
/*    position: absolute;
    width: 100%;
    height: 100%;*/
    backface-visibility: hidden; /* Hide back side by default */
    transition: transform 0.5s; /* Apply transition effect for smooth flip animation */
}

.product-front {
    z-index: 2; /* Front side should be on top initially */
}

.product-back {
    transform: rotateY(180deg); /* Start with back side flipped */
}

.product.flip .product-front {
    transform: rotateY(-180deg); /* Flip front side to back */
}

.product.flip .product-back {
    transform: rotateY(0); /* Flip back side to front */
}








