body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%; /* Set width to 100% */
    max-width: none; /* Ensure no maximum width constraints */
    margin: 0; /* Remove any margins */
}

.product {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align items to the top and bottom of the container */
}

    .product img {
        /* Your CSS styles for the toy image */
        width: 200px; /* Example width */
        height: 200px; /* Maintain aspect ratio */
        border: 1px solid #ccc; /* Example border */
        /* Add more styles as needed */
        align-self: center;
        margin-bottom : 10px;
    }

    .product h2 {
        margin-top: 0;
    }

#filterSortContainer {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Distribute items along the main axis, putting space between them */
    align-items: center; /* Align items vertically */
    width: 100%; /* Ensure the div takes up the full width */
    height: 50px; /* Set the height of the div */
    padding: 10px; /* Add some padding for space */
}

#filter-button, #sort-button {
    /* Your CSS styles for the filter button */
    /* For example: */
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#categoryFilterBar {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Distribute items along the main axis, putting space between them */
    align-items:start; /* Align items vertically */
    width: 100%; /* Ensure the div takes up the full width */
    /*height: 50px;*/ /* Set the height of the div */
    padding: 10px; /* Add some padding for space */
}






